<p>
    {{blockchains.length}}
</p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="blockchain_table" class="table table-striped table-bordered table-hover">
                <thead><tr>
                    <th>Height</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Size (KB)</th>
                    <th>Weight (KWU)</th>
                </tr></thead>
                <tbody id="blockchain_list">
                    <tr *ngFor="let blockchain of blockchains">
                        <td>{{blockchain.height}}</td>
                        <td>{{blockchain.timestamp}}</td>
                        <td>{{blockchain.tx_count}}</td>
                        <td>{{blockchain.size}}</td>
                        <td>{{blockchain.weight}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<p>test works!</p>
<h2>
    Welcome {{name}}
</h2>
<h2>
    {{2+2}}
</h2>
<h2>
    {{"Welcome " + name}}
</h2>
<h2>
    {{name.length}}
</h2>
<h2>
    {{name.toUpperCase()}}
</h2>
<h2>
    {{greeting()}}
</h2>
<h2>
    {{siteUrl}}
</h2>
