

<div class="container">

    <div class="raw">
        <div class="col-md-10">
            <input class="form-control" type="text" value="Search Height" [(ngModel)]="search" />   
        </div>     
        <button class="btn" (click)="onClick()">Search</button>
        <br />
    </div>

    <br />  
    <div *ngIf="errorMsg; then thenBlock; else elseBlock"></div>
</div>

<ng-template #thenBlock>
    <div class="alert alert-danger" role="alert">
        {{ errorMsg }}
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="row">
        <div class="col-md-12">
            <table id="blockchain_table" class="table table-striped table-bordered table-hover">
                <thead><tr>
                    <th>Height</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Size (KB)</th>
                    <th>Weight (KWU)</th>
                </tr></thead>
                <tbody id="blockchain_list">
                    <tr (click)="onSelect(blockchain)" *ngFor="let blockchain of blockchains">
                        <td>{{blockchain.height}}</td>
                        <td>{{blockchain.timestamp}}</td>
                        <td>{{blockchain.tx_count}}</td>
                        <td>{{blockchain.size/1000}}</td>
                        <td>{{blockchain.weight/1000}}</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</ng-template>
